.test
{
    font-size: 30px;
    color: yellow;
    position: absolute;
    top:75px;
    left: 177px;
    right: 197px;
    bottom: 60px;
    background: white;
}
.BackEnd
{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(28,28,28,0.9);
}
.E_N_D
{
    position: absolute;
    right:  -75px;
    top: -25px;
    height: 50px;
    width: 50px;
}


.OneText
{
    position: absolute;
    left: 100px;
    right: 300px;
    top:50px;
}

.DoneButton
{
    position: absolute;
    right: 100px;
    top: 53px;
}

.LocalFinder
{
    position: absolute;
    left: 100px;
    right: 700px;
    bottom: 20px;
}

.YouChose
{
    position: absolute;
    color: grey;
    font-size: 17px;
    left: 100px;
    top :150px;
}